
.navbar {

    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;

    background-color: #b0b0b0;

    display: flex;
    justify-content: space-between;

    &__home {
        position: relative;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
    
    
        margin-left: 20px;
        span {
            font-size: 30px;
            position: relative;
            top: 5px;
        }

        cursor: pointer;
    }

    &__cart {
        position: relative;
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;

        display: flex;

        margin-right: 20px;

        cursor: pointer;

        &:hover { 
            color: green !important;
        }

        .material-symbols-outlined {
            font-size: 30px;
        }

        &__items {
            position: relative;
            top: 2px;

            display: block;
            margin-left: 10px;   
            font-size: 25px;
            font-weight: 400; 
        }
    }

}